[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Sparky Launcher
Comment=Sparky Launcher
Exec=sparky-launcher
Icon=tint2
Terminal=false
MultipleArgs=false
Type=Application
Categories=Applications;Utility

